authentication.rb
authenticate-production.sh
authenticate-staging.sh
test.rb
Gemfile
Gemfile.lock
*.csv
*.xml
*.rtf
*.mmd
*.sql
!spec/fixtures/marc_1511.xml
!spec/fixtures/marc_1512.xml
!spec/fixtures/doc_after_processing.xml
.byebug_history
.DS_Store
log
vendor
.env*
.bundle
log_err.txt
log_out.txt
